[Unit]
Description=Mail Transport Agent (MTA) framework

[Service]
Type=exec
EnvironmentFile=/etc/sysconfig/mailfilter
ExecStart=/usr/bin/mailfilter -c /etc/mailfilter/config.js -u ${RUN_USER} -g ${RUN_GROUP} -k ${SSL_KEY} -s ${SSL_CHAIN}

[Install]
WantedBy=multi-user.target
